<!DOCTYPE html>
<html ng-app="clicker" xmlns="http://www.w3.org/1999/xhtml" ng-controller="gameCtrl">
<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>

    <title>Clicker {{units.toFixed(0)}} units</title>
</head>
<body>
    <h1>Units: {{units.toFixed(0)}} ({{ups.toFixed(1)}} u/s)</h1>
    <button class="btn" ng-click="increase(1)">Click!</button><br />
    <button class="btn btn-success" ng-click="addUnit(0)">{{clickers.CLICK1.name}} ({{clickers.CLICK1.increment}} u/s) for {{clickers.CLICK1.price.toFixed(0)}} units</button><p> {{clickers.CLICK1.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(1)">{{clickers.CLICK2.name}} ({{clickers.CLICK2.increment}} u/s) for {{clickers.CLICK2.price.toFixed(0)}} units</button><p> {{clickers.CLICK2.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(2)">{{clickers.CLICK3.name}} ({{clickers.CLICK3.increment}} u/s) for {{clickers.CLICK3.price.toFixed(0)}} units</button><p> {{clickers.CLICK3.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(3)">{{clickers.CLICK4.name}} ({{clickers.CLICK4.increment}} u/s) for {{clickers.CLICK4.price.toFixed(0)}} units</button><p> {{clickers.CLICK4.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(4)">{{clickers.CLICK5.name}} ({{clickers.CLICK5.increment}} u/s) for {{clickers.CLICK5.price.toFixed(0)}} units</button><p> {{clickers.CLICK5.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(5)">{{clickers.CLICK6.name}} ({{clickers.CLICK6.increment}} u/s) for {{clickers.CLICK6.price.toFixed(0)}} units</button><p> {{clickers.CLICK6.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(6)">{{clickers.CLICK7.name}} ({{clickers.CLICK7.increment}} u/s) for {{clickers.CLICK7.price.toFixed(0)}} units</button><p> {{clickers.CLICK7.count}} </p>
    <button class="btn btn-success" ng-click="addUnit(7)">{{clickers.CLICK8.name}} ({{clickers.CLICK8.increment}} u/s) for {{clickers.CLICK8.price.toFixed(0)}} units</button><p> {{clickers.CLICK8.count}} </p>


    <script src="app.js"></script>
</body>
</html>
